{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s {{ workout }}s {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12 mb-4">
            <a href="{% url 'workout_panel' 6 %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="results-panel">
    <div class="row text-center">
        <div class="col-12 text-center mb-2">
            <h4>{{ workout }}s: <span class="small"> {{ start_of_tw }} - {{ t }}</span></h4>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-12 mb-3">
            {% if days == 30 %}
            <a href="/workouts/single_workout/{{ workout }}/6/" role="button" class="btn btn-warning" aria-disabled="false">7 Day Total</a>{% else %}
            <a href="/workouts/single_workout/{{ workout }}/29/" role="button" class="btn btn-warning" aria-disabled="false">30 Day Total</a> {% endif %}
        </div>
        <div class="col-md-10 col-12">
            <h5>Last {{ days }} days of {{ workout }}s Total: {{ wo_total }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for w in wo %}
                    <tr>
                        <th scope="row">{{ w.amount }}</th>
                        <td>{{ w.done_on|date:"g:i a d/m" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' w.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="results-chart">
    <div class="row">
        <div class="col-12">
            <div id="newChart"></div>
        </div>
    </div>
</section>

{% endblock %} {% block script_js %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>

<!-- Chart Vars -->

<script>
    // Multi List 
    // Create dateList from django templating 
    var dateList = []
    "{% for day in day_list %}"
    dateList.push("{{ day|date:'d/m' }}");
    "{% endfor %}"

    // Create Excerise List

    var workoutList = []
    "{% for key, value in graph_info.items %}"
    workoutList.push(parseInt("{{ value }}"));
    "{% endfor %}"

    var multiConfig = {
        type: 'bar',
        "background-color": "#D9E3C4",
        title: {
            text: '{{ workout }} Chart',
            fontSize: 24,
            color: '#5d7d9a'
        },
        scaleX: {
            // set scale label
            label: {
                text: 'Dates'
            },
            // convert text on scale indices
            labels: dateList,
        },
        plot: {
            animation: {
                "effect": "ANIMATION_SLIDE_BOTTOM",
                "sequence": 0,
                "speed": 750,
                "delay": 250,
            }
        },
        tooltip: {
            callout: true,
            borderColor: "#F4F2F2",
            borderWidth: 2,
            borderRadius: "3px",
            shadow: false,
            short: true,
            text: "%kt: %v {{ workout }}s",
        },
        series: [{
            values: workoutList,
            backgroundColor: '#2d80a6 #0fasBF'
        }],
    };

    zingchart.render({
        id: 'newChart',
        data: multiConfig,
    });
</script>

{% endblock %}