{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s {{ d }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'workout_panel' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-3 text-center">
        <div class="col-12">
            <form role="form" method="post" id="get-single-date" action="{% url 'get_single_date' %}">
                {% csrf_token %}
                <div class="input-group date mb-2" id="singledatepicker" data-target-input="nearest">
                    {{ single_date_form.date }}
                    <div class="input-group-append" data-target="#singledatepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-success" value="Get Single Day">
            </form>
        </div>
    </div>
</section>

<section class="results-panel">
    <div class="row text-center">
        <div class="col-12 text-center mb-2">
            <h4>Single Date: <span class="small">{{ d }}</span></h4>
            <hr>
        </div>
        <div class="col-md-4 col-12">
            <h5>Press Ups: {{ press_ups_today }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for press_up in press_ups %}
                    <tr>
                        <th scope="row">{{ press_up.amount }}</th>
                        <td>{{ press_up.done_on|date:"g:i a" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' press_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <h5>Sit Ups: {{ sit_ups_today }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sit_up in sit_ups %}
                    <tr>
                        <th scope="row">{{ sit_up.amount }}</th>
                        <td>{{ sit_up.done_on|date:"g:i a" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' sit_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <h5>Squats: {{ squats_today }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for squat in squats %}
                    <tr>
                        <th scope="row">{{ squat.amount }}</th>
                        <td>{{ squat.done_on|date:"g:i a" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' squat.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="results-chart">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">{{ d }} Totals:</h3>
            <div id="dailyChart"></div>
        </div>
    </div>
</section>

{% endblock %} {% block script_js %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>

<!-- Chart Vars -->

<script>
    var pressups = parseInt("{{ press_ups_today }}");
    var situps = parseInt("{{ sit_ups_today }}");
    var squats = parseInt("{{ squats_today }}");
    var chartData = {
        "type": "bar3d",
        "background-color": "#D9E3C4",
        "scale-x": {
            "values": [
                "Press Ups",
                "Sit Ups",
                "Squats",
            ]
        },
        "series": [{
            "values": [
                pressups,
                situps,
                squats,
            ]
        }],
        "plot": {
            "bars-space-left": 0.15,
            "bars-space-right": 0.15,
            "animation": {
                "effect": "ANIMATION_SLIDE_BOTTOM",
                "sequence": 0,
                "speed": 1000,
                "delay": 250,
            }
        },
    }

    zingchart.render({
        id: "dailyChart",
        data: chartData,
    });
</script>
{% endblock %}