{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s' Workout Home {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5 text-center">
        <div class="col-12">
            <h1>Workout Home</h1>
        </div>
        <div class="col-12">
            <p>It is {% now "g:i a D M Y" %} </p>
        </div>
    </div>
</section>

<section class="workout-panel mb-5">
    <div class="row">
        <div class="col-12 text-center">
            <form role="form" method="post" id="add-workout-form" action="{% url 'add_workout' %}">
                <div class="form-group">
                    {% csrf_token %}
                    <input type="number" id="workout-amount" name="amount" min="1" class="mb-2">
                    <br> {% for e in exercises %}
                    <input class="btn btn-success" id="commit-{{e.name}}" name="commit" type="submit" value="{{e.name}}"> {% endfor %}
                </div>
            </form>
        </div>
    </div>
</section>

<section class="results-panel mb-5">
    <div class="row text-center">
        <div class="col-md-4 col-12">
            <h5>Press Ups: {{ press_ups_today }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for press_up in press_ups %}
                    <tr>
                        <th scope="row">{{ press_up.amount }}</th>
                        <td>{{ press_up.done_on|date:"g:i a" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' press_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <h5>Todays Sit Ups: {{ sit_ups_today }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sit_up in sit_ups %}
                    <tr>
                        <th scope="row">{{ sit_up.amount }}</th>
                        <td>{{ sit_up.done_on|date:"g:i a" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' sit_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <h5>Todays Squats: {{ squats_today }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for squat in squats %}
                    <tr>
                        <th scope="row">{{ squat.amount }}</th>
                        <td>{{ squat.done_on|date:"g:i a" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' squat.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/workout.js' %}"></script>
{% endblock %}