{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s' Workout Panel {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'workout_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-3 text-center">
        <div class="col-12">
            <h1>{{ user.profile }}'s Workout Panel</h1>
            <form role="form" method="post" id="get-single-date" action="{% url 'get_single_date' %}">
                {% csrf_token %}
                <div class="input-group date mb-2" id="singledatepicker" data-target-input="nearest">
                    {{ single_date_form.date }}
                    <div class="input-group-append" data-target="#singledatepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-success" value="Get Single Day">
            </form>
        </div>
    </div>
</section>

<section class="results-panel">
    <div class="row text-center">
        <div class="col-12 text-center mb-2">
            <h4>Last 7 Days: <span class="small"> {{ start_of_tw }} - {{ t }}</span></h4>
            <hr>
        </div>
        <div class="col-md-4 col-12">
            <h5>Press Ups: {{ tw_pressups_total }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for press_up in tw_pressups %}
                    <tr>
                        <th scope="row">{{ press_up.amount }}</th>
                        <td>{{ press_up.done_on|date:"g:i a d/m" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' press_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <h5>Sit Ups: {{ tw_situps_total }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sit_up in tw_situps %}
                    <tr>
                        <th scope="row">{{ sit_up.amount }}</th>
                        <td>{{ sit_up.done_on|date:"g:i a d/m" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' sit_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <h5>Squats: {{ tw_squats_total }}</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for squat in tw_squats %}
                    <tr>
                        <th scope="row">{{ squat.amount }}</th>
                        <td>{{ squat.done_on|date:"g:i a d/m" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' squat.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="results-chart">
    <div class="row">
        <div class="col-12">
            <div id="weeklyChart"></div>
        </div>
    </div>
</section>

{% endblock %} {% block script_js %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>

<!-- Chart Vars -->

<script>
    var chartData = {
        "type": "bar",
        "scale-x": {
            "values": [
                "Press Ups",
                "Sit Ups",
                "Squats",
            ]
        }
    }


    zingchart.render({
        id: "weeklyChart",
        data: chartData,
    });
</script>

{% endblock %}