{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s' Workout Panel {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'workout_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-5 text-center">
        <div class="col-12">
            <h1>{{ user.profile }}'s Workout Panel</h1>
        </div>
        <div class="col-12">
            <p>It is {% now "g:i a D M Y" %} </p>
        </div>
    </div>
</section>

{% endblock %}