{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s' Workout Home {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5 text-center">
        <div class="col-12">
            <h1>Workout Home</h1>
        </div>
        <div class="col-12">
            <p>It is {% now "g:i a D M Y" %} </p>
        </div>
    </div>
</section>

<section class="workouts">
    <div class="row text-center">
        <div class="col-md-4 col-12">
            <h5>Todays Squats: {{ todays_total }}</h5>
            <form role="form" method="post" id="add_squat_form" action="{% url 'add_squat' %}">
                <div class="form-group">
                    {% csrf_token %}
                    <input type="number" id="squat-amount" name="amount" min="0" class="mb-2">
                    <br>
                    <input class="btn btn-success" id="commit-squats" name="commit" type="submit" value="Add Squats">
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for squat in squats_today %}
                    <tr>
                        <th scope="row">{{ squat.amount }}</th>
                        <td>{{ squat.done_on|date:"g:i a" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12"></div>
        <div class="col-md-4 col-12"></div>
    </div>
</section>




{% endblock %}