{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s' Workout Home {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1>Workout Home</h1>
        </div>
    </div>
</section>

<section class="workouts">
    <div class="row text-center">
        <div class="col-md-4 col-12">
            {% for squat in squats %}
            <p>{{ squat }}</p>
            {% endfor %}
        </div>
        <div class="col-md-4 col-12"></div>
        <div class="col-md-4 col-12"></div>
    </div>
</section>

{% endblock %}