{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ user.profile }}'s Workout Panel {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'workout_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-3 text-center">
        <div class="col-12">
            <h1>{{ user.profile }}'s Workout Panel</h1>
            <form role="form" method="post" id="get-single-date" action="{% url 'get_single_date' %}">
                {% csrf_token %}
                <div class="input-group date mb-2" id="singledatepicker" data-target-input="nearest">
                    {{ single_date_form.date }}
                    <div class="input-group-append" data-target="#singledatepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-success" value="Get Single Day">
            </form>
        </div>
    </div>
</section>

<section class="results-panel">
    <div class="row text-center">
        <div class="col-12 text-center mb-2">
            <h4>Last {{ days }} Days: <span class="small"> {{ start_of_tw }} - {{ t }}</span></h4>
            <hr>
        </div>
        <div class="col-md-4 col-12">
            <a class="workout-link" href="{% url 'single_workout' 'Press Up' 29 %}">
                <h5>Press Ups: {{ tw_pressups_total }}</h5>
            </a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for press_up in tw_pressups %}
                    <tr>
                        <th scope="row">{{ press_up.amount }}</th>
                        <td>{{ press_up.done_on|date:"g:i a d/m" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' press_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <a class="workout-link" href="{% url 'single_workout' 'Sit Up' 29 %}">
                <h5>Sit Ups: {{ tw_situps_total }}</h5>
            </a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sit_up in tw_situps %}
                    <tr>
                        <th scope="row">{{ sit_up.amount }}</th>
                        <td>{{ sit_up.done_on|date:"g:i a d/m" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' sit_up.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 col-12">
            <a class="workout-link" href="{% url 'single_workout' 'Squat' 29 %}">
                <h5>Squats: {{ tw_squats_total }}</h5>
            </a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Amount</th>
                        <th scope="col">Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for squat in tw_squats %}
                    <tr>
                        <th scope="row">{{ squat.amount }}</th>
                        <td>{{ squat.done_on|date:"g:i a d/m" }}</td>
                        <td>
                            <a href="{% url 'delete_workout' squat.id %}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="results-chart">
    <div class="row mb-3">
        <div class="col-12">
            <div id="panelChart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="multiChart"></div>
        </div>
    </div>
</section>

<!-- New JavaScript Helpers -->

{{ tw_pressups_total|json_script:"press_ups" }} {{ tw_situps_total|json_script:"sit_ups" }} {{ tw_squats_total|json_script:"squats" }}


<!-- End of helpers -->

{% endblock %} {% block script_js %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>

<!-- Chart Vars -->

<script>
    // Single List
    // Time Frame Totals

    var pressups = JSON.parse(document.getElementById('press_ups').textContent);
    var situps = JSON.parse(document.getElementById('sit_ups').textContent);
    var squats = JSON.parse(document.getElementById('squats').textContent);
    var chartData = {
        type: "bar3d",
        "background-color": "#D9E3C4",
        "3d-aspect": {
            "true3d": false
        },
        title: {
            text: 'Work Out Totals',
            fontSize: 24,
            color: '#5d7d9a'
        },
        scaleX: {
            "values": [
                "Press Ups",
                "Sit Ups",
                "Squats",
            ]
        },
        series: [{
            "values": [
                pressups,
                situps,
                squats,
            ]
        }],
        tooltip: {
            callout: true,
            borderColor: "#F4F2F2",
            borderWidth: 2,
            borderRadius: "3px",
            shadow: false,
            short: true,
            text: "%kt: %v",
        },
        plot: {
            "bars-space-left": 0.15,
            "bars-space-right": 0.15,
            animation: {
                effect: "ANIMATION_SLIDE_BOTTOM",
                sequence: 0,
                speed: 1000,
                delay: 250,
            },
            facets: {
                front: {
                    "background-color": "#D8B679 #0fasBF"
                },
                right: {
                    "background-color": "#D8B679 #0fasBF"
                },
                left: {
                    "background-color": "#D8B679 #0fasBF"
                },
                top: {
                    "background-color": "#D8B679"
                },
                bottom: {
                    "background-color": "#D8B679"
                }
            }
        },
    }

    zingchart.render({
        id: "panelChart",
        data: chartData,
    });

    // Multi List 
    // Create dateList from django templating 
    var dateList = []
    "{% for day in day_list %}"
    dateList.push("{{ day|date:'d/m' }}");
    "{% endfor %}"

    // Create Excerise List

    var pressUpList = []
    "{% for key, value in press_up_graph_info.items %}"
    pressUpList.push(parseInt("{{ value }}"));
    "{% endfor %}"

    var sitUpList = []
    "{% for key, value in sit_up_graph_info.items %}"
    sitUpList.push(parseInt("{{ value }}"));
    "{% endfor %}"

    var squatList = []
    "{% for key, value in squat_graph_info.items %}"
    squatList.push(parseInt("{{ value }}"));
    "{% endfor %}"

    var multiConfig = {
        type: 'bar',
        "background-color": "#D9E3C4",
        title: {
            text: 'Multi Chart',
            fontSize: 24,
            color: '#5d7d9a'
        },
        legend: {
            draggable: true,
        },
        scaleX: {
            // set scale label
            label: {
                text: 'Dates'
            },
            // convert text on scale indices
            labels: dateList
        },
        plot: {
            animation: {
                "effect": "ANIMATION_SLIDE_BOTTOM",
                "sequence": 0,
                "speed": 2000,
                "delay": 250,
            }
        },
        tooltip: {
            callout: true,
            borderColor: "#F4F2F2",
            borderWidth: 2,
            borderRadius: "3px",
            shadow: false,
            short: true,
            text: "%t: %v - %kt",
        },
        series: [{
            // plot 1 values, linear data
            values: pressUpList,
            text: 'Press Ups',
            backgroundColor: '#2d80a6 #0fasBF'
        }, {
            // plot 2 values, linear data
            values: sitUpList,
            text: 'Sit Ups',
            backgroundColor: '#D8B679 #0fasBF'
        }, {
            // plot 3 values, linear data
            values: squatList,
            text: 'Squats',
            backgroundColor: '#a4da32 #0fasBF'
        }]
    };

    zingchart.render({
        id: 'multiChart',
        data: multiConfig,
    });
</script>

{% endblock %}