{% extends 'base.html' %} {% load static %} {% block page_title %} Enter Game | Gainscraft {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'game_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Back To Point Transfer</a>
        </div>
    </div>
</section>

<section class="game-nav">
    <div class="row mb-5">
        <div class="col-md-4 col-12 text-center">
            <h3>{{ game_profile.name }}</h3>
            <h5>Level: {{ game_profile.level }}</h5>
            <h4>Current Points: {{ game_profile.current_points }}</h4>
            <div class="row">
                <div class="col-6">
                    <p>Strengh: <span id="herostrengh">{{ game_profile.strengh }}</span> <a href="{% url 'add_strengh' %}" class="strengh-icon"><i class="fas fa-plus"></a></i> {{ strengh_cost }}
                    </p>
                </div>
                <div class="col-6">
                    <p>XP: {{ game_profile.xp }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 text-center">
            {% if game_profile.target %}
            <button class="btn btn-warning mb-3" id="attack-button" aria-disabled="false">Attack</button>
            <br>
            <a href="{% url 'delete_enemy' %}" role="button" class="btn btn-danger mb-3" aria-disabled="false">Delete Enemy</a> {% else %}
            <a href="{% url 'create_enemy' %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Create Enemy</a> {% endif %}
            <div class="row stats-bar">
                <div class="col-6">
                    <p>Current Kills: <span id="kill-counter">0</span></p>
                </div>
                <div class="col-6">
                    <p>Current XP: <span id="xp-counter">0</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 text-center">
            {% if game_profile.target %}
            <h3>{{ game_profile.target.name }}</h3>
            <h5>Level: {{ game_profile.target.level }}</h5>
            <h5>HP: <span id="enemyhp">{{ game_profile.target.current_hp }}</span>/{{ game_profile.target.max_hp }}</h5>
            <div class="row">
                <div class="col-6">
                    <p>Strengh: <span id="enemystrengh">{{ game_profile.target.strengh }}</span></p>
                </div>
                <div class="col-6">
                    <p>XP: <span id="enemyxp">{{ game_profile.target.xp }}</span></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %} {% block script_js %}
<script type="text/javascript" src="{% static 'js/clickgame.js' %}"></script>
{% endblock %}