{% extends 'base.html' %} {% load static %} {% block page_title %} Game | Gainscraft {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Game Home</h1>
        </div>
    </div>
</section>

<section class="point-header">
    <div class="row">
        <div class="col-12 text-center">
            <h5>Points Total: {{ point_total }}</h5>
        </div>
    </div>
</section>

{% endblock %}