{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} New Game | Gains Craft {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'game_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h1>New Game Instance</h1>
    </div>
</div>

<form role="form" method="post" id="start_new_game" action="{% url 'start_new_game' %}">
    <div class="form-group body-text">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ game_form.name|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="sumbit_game" name="commit" type="submit" value="Enter Game">
            </div>
        </div>
        <br>
    </div>
</form>

{% endblock %}