@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');

/* Background */

.bg {
    background-color: #D9E3C4;
    font-family: 'Asap', sans-serif;
    height: 100vh;
}


/* Navbar */

.nav-bg {
    background-color: #D8B679;
}

.nav-bg a {
    color: #020704;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #69433A;
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #020704;
    margin: 8px 2px;
}


/* Fonts and Texts */

.headliner-text {
    font-weight: 600;
    font-size: 3.4rem;
}


/* Admin */

.table {
    background-color: #d2d2d2;
}

tr {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/* Workouts */

.fa-trash-alt {
    color: #ff0b0b;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-trash-alt:hover {
    color: black;
}