@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');

/* Background */

.bg {
    background-color: #D9E3C4;
    font-family: 'Asap', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #D8B679;
}

.nav-bg a {
    color: #020704;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #69433A;
}

.nav-button {
    color: #f4f4f4;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #020704;
    margin: 8px 2px;
}


/* Fonts and Texts */

.headliner-text {
    font-weight: 600;
    font-size: 3.4rem;
}


/* Admin/Profile */

.table {
    background-color: #d2d2d2;
}

tr {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.lifetime-totals {
    font-size: 20px;
}

.profile-link a {
    color: #0a1302;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.profile-link a:hover {
    color: #7c1a1a;
}


/* Workouts */

.fa-trash-alt {
    color: #ff0b0b;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-trash-alt:hover {
    color: black;
}

#singledatepicker,
#workout-amount {
    width: 25%;
    display: inline-flex;
}

.workout-link {
    color: #0a1302;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.workout-link:hover {
    color: #a521a5;
    text-decoration: none;
}


/* Media Queires */

@media (max-width: 545px) {
    #singledatepicker,
    #workout-amount {
        width: 75%;
    }
}